body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 90%;
    height: 80vh;
    overflow-y: auto;
}
.hidden {
    display: none;
}
.options button {
    margin: 10px 0;
    display: block;
    width: 100%;
    padding: 15px;
    background:steelblue;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.options button.correct {
    background-color: #28a745;
}
.options button.incorrect {
    background-color: #dc3545;
}
.options button:hover {
    background:#4f9a9c; 
}
.question {
    font-size: 36px; /* Increased the font size */
    font-weight: bold; /* Added bold font weight */
    margin-bottom: 20px; /* Added margin for spacing */
    color:rgb(160,23,55,0.881);
}
.quiz-heading {
    color: #12cd22;
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px; /* Increased the font size */
}
#participantForm label, #quiz p, #result p {
    font-size: 24px; /* Increased the font size */
}
#result {
    text-align: center;
}
.completion-message {
    font-size: 36px; /* Increased the font size */
    color: #ff6f61; /* Changed the color */
    font-weight: bold; /* Added bold font weight */
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 25px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #0056b3;
}
.input-large {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
